<div class="container-fluid">
  <div
    class="clearfix"
    style="margin-left: 15%; margin-right: 15%; margin-top: 2%"
  >
    <img
      src="assets/images/contact/Filip_Rosochacki.jpg"
      class="col-md-6 float-md-end mb-3 ms-md-3"
      alt="Filip Rosochacki"
      style="width: 30%; height: auto"
    />

    <div class="display-1">About me</div>

    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis
      blandit diam mattis blandit. Sed risus nibh, consequat vitae tellus sit
      amet, efficitur pretium dolor. Aliquam id lectus metus. Etiam tincidunt
      lacinia enim, a placerat enim egestas et. Phasellus non dui sit amet
      tellus gravida vehicula a id elit. Nunc libero est, posuere eget urna et,
      ullamcorper faucibus urna. In vel tortor rhoncus, commodo tortor et,
      dignissim felis. Maecenas ultricies ex sed tempor euismod. Curabitur
      commodo iaculis justo, sed facilisis diam pellentesque vel. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Cras fermentum hendrerit
      lobortis. Curabitur libero nulla, interdum posuere tellus vel, eleifend
      lacinia nibh. Maecenas ornare rhoncus nunc, molestie mollis purus rutrum
      a. Duis sed aliquam lorem. Suspendisse id imperdiet nulla. Aliquam nec
      ante id est viverra pharetra id ac libero. Fusce condimentum accumsan quam
      vitae varius. Sed quis arcu sem. Pellentesque sed tincidunt justo.
      Suspendisse vulputate egestas orci quis ultricies. Praesent vulputate eu
      leo eget ornare. Cras lacinia, nulla ut maximus commodo, metus felis
      eleifend orci, a commodo massa nunc et est. Morbi condimentum risus eget
      tempor venenatis. Etiam efficitur elementum mi, ut auctor sem ornare
      vitae. Donec molestie consectetur elit eu interdum. Phasellus sed nulla
      est. Suspendisse ac massa porta, rhoncus libero ac, convallis orci. In in
      quam eu justo ultrices consectetur. Donec sapien enim, lacinia quis elit
      vitae, malesuada pharetra massa. Aliquam interdum mattis mauris, in
      ultricies dolor dapibus a. Integer sagittis magna at nunc porta viverra a
      eu eros. Vestibulum sed lorem non lectus luctus posuere. Praesent varius
      diam in mattis pretium. Interdum et malesuada fames ac ante ipsum primis
      in faucibus. Quisque metus nunc, cursus vel nisl id, laoreet eleifend
      velit. Aenean non urna in nulla porttitor malesuada. Aliquam iaculis
      sodales ante, vitae aliquam magna maximus quis. Aenean venenatis vitae
      urna vitae ultrices. Maecenas iaculis urna malesuada sollicitudin euismod.
      Integer ullamcorper erat lacus, imperdiet tincidunt odio facilisis eget.
      Donec eleifend viverra ipsum at dignissim. Cras pretium lorem in ipsum
      fringilla egestas. Mauris eu purus scelerisque, tempus tortor sit amet,
      fermentum urna. Aliquam arcu purus, pellentesque sed neque vitae, posuere
      varius leo. Donec sit amet tempor risus. Ut luctus dui vel convallis
      bibendum. Aenean ut sapien euismod, posuere leo eget, hendrerit urna.
      Etiam malesuada mauris non volutpat efficitur. Cras blandit nisi ut lorem
      aliquet ornare. In lobortis rutrum laoreet. Donec eget semper urna. Nunc
      efficitur eros tincidunt est volutpat, et malesuada arcu varius. Mauris
      dignissim malesuada diam. Nulla id leo sed justo congue pellentesque sed
      ut augue.
    </p>

    <div class="display-1">Technologies</div>

    <p class="lead">
      As you can see the paragraphs gracefully wrap around the floated image.
      Now imagine how this would look with some actual content in here, rather
      than just this boring placeholder text that goes on and on, but actually
      conveys no tangible information at. It simply takes up space and should
      not really be read.
    </p>

    <div class="display-1">Courses</div>

    <p class="lead">
      And yet, here you are, still persevering in reading this placeholder text,
      hoping for some more insights, or some hidden easter egg of content. A
      joke, perhaps. Unfortunately, there's none of that here.
    </p>
  </div>
</div>
