<div class="detail-section">
  <div class="container-fluid" style="margin-top: 5%">
    <div class="text-center">
      <div style="margin-bottom: 1%" class="display-2">
        {{ portfolio.name }}
      </div>
      <img
        style="width: 70%; height: auto; margin-bottom: 5%"
        src="{{ portfolio.imageUrl }}"
        class="detail-img"
      />
    </div>

    <hr />

    <h2>Description</h2>
    <p>{{ portfolio.description }}</p>
    <a style="margin-bottom: 1%" class="btn btn-primary" routerLink="/portfolio"
      >Go back</a
    >
  </div>
</div>
