/* You can add global styles to this file, and also import other style files */
.project-cards {
  margin: 3% 3% 3% 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70%);
  grid-gap: 2rem;
  justify-content: center;
}

.project-cards > li {
  border: 2px solid #ffca2c;
  height: 20rem;
  position: relative;
  background-size: cover;
  border-radius: 0.5rem;
  list-style-type: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease-out;
}

.project-cards > li:hover {
  transform: scale(1.02);
}

.project-info {
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 80%);
  padding: 1rem 1rem;
  color: #fff2cc;
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.25rem;
}

.project-info .title {
  color: white;
  font-size: 1.4rem;
  display: block;
  margin: 0.2rem 0 0.4rem 0;
  font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
