<div class="pt-5 pb-5 mx-auto" style="width: 70%">
  <figure class="text-center">
    <blockquote class="blockquote">
      <div class="display-3">{{ home.quote }}</div>
    </blockquote>
    <figcaption class="blockquote-footer">
      {{ home.authorName }} {{ home.authorSurname }}
    </figcaption>
  </figure>
  <hr />

  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis
    augue vel est egestas, ut porttitor purus egestas. Aenean luctus risus
    eleifend tempor interdum. Pellentesque nec rutrum sem, non congue eros.
    Suspendisse commodo viverra hendrerit. Donec urna orci, ornare ut porttitor
    et, finibus ut tellus. Praesent placerat molestie tempor. Proin imperdiet
    nibh in condimentum varius. Vestibulum est risus, placerat a nisi a, cursus
    bibendum magna. Maecenas non sagittis magna. Ut nec convallis nisi. Ut urna
    felis, consectetur eu diam ut, posuere viverra metus. Phasellus ultricies
    tristique efficitur. Cras suscipit suscipit mauris, ut dapibus diam accumsan
    in. In vel mauris imperdiet, dictum dui a, vehicula orci. Integer viverra
    vehicula elit a finibus. Morbi euismod velit odio, et molestie dui lobortis
    at. Mauris tempor mauris ipsum, et hendrerit sapien aliquam eu. In non ante
    sed nisl condimentum fermentum sollicitudin nec nisl. Aenean euismod
    ultricies risus, eget convallis augue mollis non. Etiam in pretium lectus.
    Nulla luctus laoreet ipsum sollicitudin placerat. Morbi et pharetra eros.
    Nullam egestas magna sit amet arcu porttitor fringilla. Donec sodales enim
    efficitur quam pellentesque, vitae maximus massa pharetra. Duis accumsan
    posuere pulvinar. Nullam nibh est, lacinia ut tempus sit amet, ornare ut
    erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
    erat volutpat. Quisque dignissim, mauris vel dignissim lobortis, augue nulla
    venenatis ligula, id feugiat mi est quis est. Donec sed gravida tortor.
    Mauris at enim mi. Aenean laoreet, metus ac egestas maximus, nisl nisl
    consequat ipsum, at aliquet velit sem quis ligula. Nam est tellus, molestie
    a ex et, placerat mollis diam. Morbi molestie tortor ut tempus volutpat.
    Nunc efficitur, elit cursus malesuada vestibulum, est ipsum lobortis turpis,
    ac viverra elit nisi ut diam. Nam quis tellus in erat euismod placerat a
    efficitur enim. Praesent egestas diam lorem, at iaculis nisl ultricies et.
    Proin tristique diam dictum, tempor magna id, vehicula magna. Proin non
    justo malesuada purus interdum ultricies. Integer id imperdiet odio. Vivamus
    rutrum nisi ut augue rhoncus, vitae ultrices tellus sagittis. Sed tempor a
    ante quis commodo. Maecenas diam velit, lobortis eu gravida vitae, lacinia
    eget elit. Donec leo libero, tempus at risus id, rutrum bibendum diam. Proin
    hendrerit dignissim lacinia. Pellentesque tortor lacus, rutrum id ornare sit
    amet, placerat a mi. Nunc ac ante elit. Proin efficitur mi id mauris dictum
    iaculis posuere eu justo. Cras nisl mauris, sagittis non metus quis, cursus
    porta libero. Praesent aliquet vel metus a tempus. Donec dui nulla,
    efficitur sed laoreet quis, scelerisque sed elit. Nullam blandit euismod
    euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Nunc elementum blandit dui, id bibendum ligula
    scelerisque a. Sed cursus vel sapien nec tincidunt. Quisque eget vehicula
    lectus, eget hendrerit enim. Nunc posuere tempor turpis, in maximus ipsum
    efficitur quis. In facilisis eros ut neque gravida, at semper lectus tempor.
    Nulla eu tortor at ante ullamcorper laoreet at vitae magna. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Praesent in dolor lectus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis
    augue vel est egestas, ut porttitor purus egestas. Aenean luctus risus
    eleifend tempor interdum. Pellentesque nec rutrum sem, non congue eros.
    Suspendisse commodo viverra hendrerit. Donec urna orci, ornare ut porttitor
    et, finibus ut tellus. Praesent placerat molestie tempor. Proin imperdiet
    nibh in condimentum varius. Vestibulum est risus, placerat a nisi a, cursus
    bibendum magna. Maecenas non sagittis magna. Ut nec convallis nisi. Ut urna
    felis, consectetur eu diam ut, posuere viverra metus. Phasellus ultricies
    tristique efficitur. Cras suscipit suscipit mauris, ut dapibus diam accumsan
    in. In vel mauris imperdiet, dictum dui a, vehicula orci. Integer viverra
    vehicula elit a finibus. Morbi euismod velit odio, et molestie dui lobortis
    at. Mauris tempor mauris ipsum, et hendrerit sapien aliquam eu. In non ante
    sed nisl condimentum fermentum sollicitudin nec nisl. Aenean euismod
    ultricies risus, eget convallis augue mollis non. Etiam in pretium lectus.
    Nulla luctus laoreet ipsum sollicitudin placerat. Morbi et pharetra eros.
    Nullam egestas magna sit amet arcu porttitor fringilla. Donec sodales enim
    efficitur quam pellentesque, vitae maximus massa pharetra. Duis accumsan
    posuere pulvinar. Nullam nibh est, lacinia ut tempus sit amet, ornare ut
    erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
    erat volutpat. Quisque dignissim, mauris vel dignissim lobortis, augue nulla
    venenatis ligula, id feugiat mi est quis est. Donec sed gravida tortor.
    Mauris at enim mi. Aenean laoreet, metus ac egestas maximus, nisl nisl
    consequat ipsum, at aliquet velit sem quis ligula. Nam est tellus, molestie
    a ex et, placerat mollis diam. Morbi molestie tortor ut tempus volutpat.
    Nunc efficitur, elit cursus malesuada vestibulum, est ipsum lobortis turpis,
    ac viverra elit nisi ut diam. Nam quis tellus in erat euismod placerat a
    efficitur enim. Praesent egestas diam lorem, at iaculis nisl ultricies et.
    Proin tristique diam dictum, tempor magna id, vehicula magna. Proin non
    justo malesuada purus interdum ultricies. Integer id imperdiet odio. Vivamus
    rutrum nisi ut augue rhoncus, vitae ultrices tellus sagittis. Sed tempor a
    ante quis commodo. Maecenas diam velit, lobortis eu gravida vitae, lacinia
    eget elit. Donec leo libero, tempus at risus id, rutrum bibendum diam. Proin
    hendrerit dignissim lacinia. Pellentesque tortor lacus, rutrum id ornare sit
    amet, placerat a mi. Nunc ac ante elit. Proin efficitur mi id mauris dictum
    iaculis posuere eu justo. Cras nisl mauris, sagittis non metus quis, cursus
    porta libero. Praesent aliquet vel metus a tempus. Donec dui nulla,
    efficitur sed laoreet quis, scelerisque sed elit. Nullam blandit euismod
    euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Nunc elementum blandit dui, id bibendum ligula
    scelerisque a. Sed cursus vel sapien nec tincidunt. Quisque eget vehicula
    lectus, eget hendrerit enim. Nunc posuere tempor turpis, in maximus ipsum
    efficitur quis. In facilisis eros ut neque gravida, at semper lectus tempor.
    Nulla eu tortor at ante ullamcorper laoreet at vitae magna. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Praesent in dolor lectus.
    ultricies. Integer id imperdiet odio. Vivamus rutrum nisi ut augue rhoncus,
    vitae ultrices tellus sagittis. Sed tempor a ante quis commodo. Maecenas
    diam velit, lobortis eu gravida vitae, lacinia eget elit. Donec leo libero,
    tempus at risus id, rutrum bibendum diam. Proin hendrerit dignissim lacinia.
    Pellentesque tortor lacus, rutrum id ornare sit amet, placerat a mi. Nunc ac
    ante elit. Proin efficitur mi id mauris dictum iaculis posuere eu justo.
    Cras nisl mauris, sagittis non metus quis, cursus porta libero. Praesent
    aliquet vel metus a tempus. Donec dui nulla, efficitur sed laoreet quis,
    scelerisque sed elit. Nullam blandit euismod euismod. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
    elementum blandit dui, id bibendum ligula scelerisque a. Sed cursus vel
    sapien nec tincidunt. Quisque eget vehicula lectus, eget hendrerit enim.
    Nunc posuere tempor turpis, in maximus ipsum efficitur quis. In facilisis
    eros ut neque gravida, at semper lectus tempor. Nulla eu tortor at ante
    ullamcorper laoreet at vitae magna. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Praesent in dolor lectus. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Vivamus facilisis augue vel est egestas,
    ut porttitor purus egestas. Aenean luctus risus eleifend tempor interdum.
    Pellentesque nec rutrum sem, non congue eros. Suspendisse commodo viverra
    hendrerit. Donec urna orci, ornare ut porttitor et, finibus ut tellus.
    Praesent placerat molestie tempor. Proin imperdiet nibh in condimentum
    varius. Vestibulum est risus, placerat a nisi a, cursus bibendum magna.
    Maecenas non sagittis magna. Ut nec convallis nisi. Ut urna felis,
    consectetur eu diam ut, posuere viverra metus. Phasellus ultricies tristique
    efficitur. Cras suscipit suscipit mauris, ut dapibus diam accumsan in. In
    vel mauris imperdiet, dictum dui a, vehicula orci. Integer viverra vehicula
    elit a finibus. Morbi euismod velit odio, et molestie dui lobortis at.
    Mauris tempor mauris ipsum, et hendrerit sapien aliquam eu. In non ante sed
    nisl condimentum fermentum sollicitudin nec nisl. Aenean euismod ultricies
    risus, eget convallis augue mollis non. Etiam in pretium lectus. Nulla
    luctus laoreet ipsum sollicitudin placerat. Morbi et pharetra eros. Nullam
    egestas magna sit amet arcu porttitor fringilla. Donec sodales enim
    efficitur quam pellentesque, vitae maximus massa pharetra. Duis accumsan
    posuere pulvinar. Nullam nibh est, lacinia ut tempus sit amet, ornare ut
    erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
    erat volutpat. Quisque dignissim, mauris vel dignissim lobortis, augue nulla
    venenatis ligula, id feugiat mi est quis est. Donec sed gravida tortor.
    Mauris at enim mi. Aenean laoreet, metus ac egestas maximus, nisl nisl
    consequat ipsum, at aliquet velit sem quis ligula. Nam est tellus, molestie
    a ex et, placerat mollis diam. Morbi molestie tortor ut tempus volutpat.
    Nunc efficitur, elit cursus malesuada vestibulum, est ipsum lobortis turpis,
    ac viverra elit nisi ut diam. Nam quis tellus in erat euismod placerat a
    efficitur enim. Praesent egestas diam lorem, at iaculis nisl ultricies et.
    Proin tristique diam dictum, tempor magna id, vehicula magna. Proin non
    justo malesuada purus interdum ultricies. Integer id imperdiet odio. Vivamus
    rutrum nisi ut augue rhoncus, vitae ultrices tellus sagittis. Sed tempor a
    ante quis commodo. Maecenas diam velit, lobortis eu gravida vitae, lacinia
    eget elit. Donec leo libero, tempus at risus id, rutrum bibendum diam. Proin
    hendrerit dignissim lacinia. Pellentesque tortor lacus, rutrum id ornare sit
    amet, placerat a mi. Nunc ac ante elit. Proin efficitur mi id mauris dictum
    iaculis posuere eu justo. Cras nisl mauris, sagittis non metus quis, cursus
    porta libero. Praesent aliquet vel metus a tempus. Donec dui nulla,
    efficitur sed laoreet quis, scelerisque sed elit. Nullam blandit euismod
    euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Nunc elementum blandit dui, id bibendum ligula
    scelerisque a. Sed cursus vel sapien nec tincidunt. Quisque eget vehicula
    lectus, eget hendrerit enim. Nunc posuere tempor turpis, in maximus ipsum
    efficitur quis. In facilisis eros ut neque gravida, at semper lectus tempor.
    Nulla eu tortor at ante ullamcorper laoreet at vitae magna. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Praesent in dolor lectus.
  </p>
</div>
